<h1>All Posts</h1>

<span><%= link "New Post", to: Routes.post_path(@conn, :new) %></span>

<%= for post <- @posts do %>
<div class="post">
  <div class="<%= post_classes(@conn, post) %>"><%= post.author.name %></div>
  <div class="post__body"><%= post.body %></div>
  <div class="post__timestamp"><%= post.inserted_at %></div>
</div>
<% end %>
